span{
    background-color: greenyellow;
}

.sa-h2{
    border: solid 3px red;
    background-color: purple
}

.sa-h3{
    background-color: orange;
    border: dotted 3px blue;
}

h1{
    text-align: center;
}
h3{
    text-align: center;
}