body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{

    text-align: center;
}

#fieldset-1{

    border: 2px solid black ;
    
}
#legend-1{

    text-align: center

    
  
}


#fieldset-2{

    border: 10px dotted red ;

    
}

#legend-2{

    text-align: center;
    color: red;
    font-size: 10px;
}


   #fieldset-3{

    border: 13px double green ;
    
}

#legend-3{

    text-align: right;
    color: green;
} 
   #fieldset-4{

    border: 5px solid black ;
     border-radius: 25px;

}

#legend-4{

    text-align: center;
    border: 2px solid red;
    padding: 10px;
    border-radius: 30px;
    background-color: red;
    width: 300px;
    color: white;
    border-color: black;


} 


